@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url(fonts.css);


@layer components {
  .reset {
    @apply tw-font-sans tw-text-base tw-text-gray-darkest
  }
  button.reset {
    @apply tw-border-0 tw-border-solid tw-border-gray-medium tw-cursor-pointer;
  }
  img.reset, svg.reset, video,
  canvas.reset,
  audio.reset,
  iframe.reset,
  embed.reset,
  object.reset  {
    @apply tw-block tw-align-middle tw-max-w-full tw-h-auto;
  }
  ol.reset, li.reset {
    @apply tw-list-none tw-m-0 tw-p-0;
  }
  h1.reset,
  h2.reset,
  h3.reset,
  h4.reset,
  h5.reset,
  h6.reset {
    font-size: inherit;
    font-weight: inherit;
  }
  blockquote,
  dl.reset,
  dd.reset,
  h1.reset,
  h2.reset,
  h3.reset,
  h4.reset,
  h5.reset,
  h6.reset,
  hr.reset,
  figure.reset,
  p.reset,
  pre.reset {
    margin: 0;
  }

  h3, h4, h5, h6 {
    @apply tw-font-display tw-font-bold
  }
  h1, h2 {
    @apply tw-font-display tw-font-black
  }

  a, a:link {
    @apply tw-underline tw-text-blue-dark
  }
}
